
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">INVITADO</th>
      <th scope="col">MESA</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of array.mesa1">
      <td>{{item.invitado}}</td>
      <td>1</td>
    </tr>
    <tr *ngFor="let item of array.mesa2">
      <td>{{item.invitado}}</td>
      <td>2</td>
    </tr>
    <tr *ngFor="let item of array.mesa3">
      <td>{{item.invitado}}</td>
      <td>3</td>
    </tr>
    <tr *ngFor="let item of array.mesa4">
      <td>{{item.invitado}}</td>
      <td>4</td>
    </tr>
    <tr *ngFor="let item of array.mesa5">
      <td>{{item.invitado}}</td>
      <td>5</td>
    </tr>
    <tr *ngFor="let item of array.mesa6">
      <td>{{item.invitado}}</td>
      <td>6</td>
    </tr>
    <tr *ngFor="let item of array.mesa7">
      <td>{{item.invitado}}</td>
      <td>7</td>
    </tr>
    <tr *ngFor="let item of array.mesa8">
      <td>{{item.invitado}}</td>
      <td>8</td>
    </tr>
    <tr *ngFor="let item of array.mesa9">
      <td>{{item.invitado}}</td>
      <td>9</td>
    </tr>
    <tr *ngFor="let item of array.mesa10">
      <td>{{item.invitado}}</td>
      <td>10</td>
    </tr>
  </tbody>
</table>