<!--BIENVENIDO {{usuario}}!!!

<div *ngIf="tipoDeUsuario == 'cliente'">
    <button class="btn btn-large btn-block btn-success" (click)="misReservas()">Mis reservas</button>
    <button class="btn btn-large btn-block btn-info" (click)="reservar()">Reservar Local</button>
</div>
<div *ngIf="tipoDeUsuario == 'encargado'">
    <button class="btn btn-large btn-block btn-success" (click)="misReservas()">Ver todas las reservas</button>
</div>
<div *ngIf="tipoDeUsuario == 'empleado'">
    <button class="btn btn-large btn-block btn-success" (click)="misReservas()">Ver listados de reservas</button>
</div>

-->
<div *ngIf="spinner">
    <app-menu></app-menu>
    <br>

    <div class="container">

        <ul class="list-group">
            <div *ngIf="tipoDeUsuario == 'cliente'">
                <li class="list-group-item"  (click)="misReservas()">
                    <a>
                        <div class="media">
                            <div class="media-left">
                                <img src="./assets/img/reservas.jpg" class="media-object imagenDeMenu" style="margin-right: 10px;border-radius: 5%;">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Mis reservas</h4>
                                <p>En esta seccion veras todas tus reservas con los listados de los invitados con sus respectivas
                                    mesas.
                                </p>
                            </div>

                        </div>
                    </a>
                </li>
                <li class="list-group-item"  (click)="reservar()">
                    <a>
                        <div class="media">
                            <div class="media-left">
                                <img src="./assets/img/lista.jpg" class="media-object imagenDeMenu" style="margin-right: 10px;border-radius: 5%;">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Reservar local</h4>
                                <p>En esta seccion veras todas las reservas de los clientes con los listados de los invitados
                                    y con sus respectivas mesas.Podras cancelar la reserva, agregar invitados, eliminarlos
                                    y editarlos.
                                </p>
                            </div>

                        </div>
                    </a>
                </li>
                <li class="list-group-item"  (click)="encuestas()">
                    <a>
                        <div class="media">
                            <div class="media-left">
                                <img src="./assets/img/encuesta.png" class="media-object imagenDeMenu" style="margin-right: 10px;border-radius: 5%;">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Completa nuestra encuesta</h4>
                                <p>En esta sección podras completar nuestra encuesta para evaluar nuestros locales y el servicio dado.
                                </p>
                            </div>

                        </div>
                    </a>
                </li>
            </div>
            <div *ngIf="tipoDeUsuario == 'encargado'">
                <li class="list-group-item"  (click)="misReservas()">
                    <a>
                        <div class="media">
                            <div class="media-left">
                                <img src="./assets/img/lista.jpg" class="media-object imagenDeMenu" style="margin-right: 10px;border-radius: 5%;">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Reservas</h4>
                                <p>En esta seccion veras todas las reservas de los clientes con los listados de los invitados
                                    y con sus respectivas mesas.Podras cancelar la reserva, agregar invitados, eliminarlos
                                    y editarlos.
                                </p>
                            </div>

                        </div>
                    </a>
                </li>
                <li class="list-group-item"  (click)="encuestas()">
                        <a>
                            <div class="media">
                                <div class="media-left">
                                    <img src="./assets/img/encuesta.png" class="media-object imagenDeMenu" style="margin-right: 10px;border-radius: 5%;">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Ver Estadisticas</h4>
                                    <p>En esta sección podras ver los resultados de las encuestas hechas por los clientes.
                                    </p>
                                </div>
    
                            </div>
                        </a>
                    </li>
            </div>
            <div *ngIf="tipoDeUsuario == 'empleado'">
                <li class="list-group-item" (click)="misReservas()">
                    <a>
                        <div class="media">
                            <div class="media-left">
                                <img src="./assets/img/lista.jpg" class="media-object imagenDeMenu" style="margin-right: 10px;border-radius: 5%;">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Reservas</h4>
                                <p>En esta seccion veras todas las reservas de los clientes con los listados de los invitados
                                    y con sus respectivas mesas.</p>
                            </div>

                        </div>
                    </a>
                </li>
            </div>

        </ul>
        <br>
        <br>
        <app-mapa></app-mapa>
    </div>
</div>

<app-spinner style="position: absolute;width: 300px;height: 200px;z-index: 15;top: 50%;left: 50%;margin: -100px 0 0 -150px;"
    *ngIf="!spinner"></app-spinner>