<!--<script src="./home.js"></script>-->
<app-menu></app-menu>


<section id="intro">

  
<!--
  <div class="animation-container">
    <div id="object" class="animate fadeIn"></div>
  </div>-->
  <div id="intro-copy">
    <img src="./assets/img/icono.png" alt="Arrow" id="arrow" class="pulse" />
  </div>
</section>


<section id="example-1">

  <div class="example-container">
    <img src="./assets/img/comida.jpg" alt="Image of a phone" id="phone" class="animate" />

    <div class="copy">
      <h2>Comida y bebida de buena calidad. Con un Chef traido de Tailandia ganador de muchos premios</h2>
      <p>
        No dudes en Reservar. Hazlo ahora antes q te quedes sin lugar.
      </p>
      <h3 class="strong" (click)="reservar()">
          <strong> Reserva YA!!!   </strong>   
      </h3>
    </div>

  </div>

</section>

<section id="example-2">

  <div class="example-container">

    <div id="map">
      <img src="./assets/img/pin.png" alt="Pin" id="pin" height="311" width="212" />
    </div>

    <h3>
      Con Google Maps incluido para que tus invitados puedan encontrar facil nuestros locales. <strong class="strong" (click)="invitado()">Soy Invitado</strong>
    </h3>

  </div>

</section>

<section id="example-3">

  <div id="pop-up-message" class="example-container">
    <img src="./assets/img/x.png" alt="x" class="pulse" />
    <h2>
      IMPORTANTE.
    </h2>
    <p>
      Acuerdate que necesitas iniciar sesión para poder reservar nuestros locales.<strong class="strong" (click)="Iniciar()">Iniciar Sesión</strong>
    </p>
  </div>

  <h3>

  </h3>

</section>

<section id="example-4">

  <div class="example-container">

    <span class="device-diagram">A</span>
    <img src="./assets/img/arrow-horizontal.png" alt="Arrow" class="device-arrow" />
    <span class="device-diagram">Z</span>

    <h3>
      Tenemos lo mejor. Desde la A la Z.
    </h3>

  </div>

</section>

<section id="example-5">

  <div class="example-container">

    <div class="graph-bar bar-1"></div>
    <div class="graph-bar bar-2"></div>
    <div class="graph-bar bar-3"></div>
    <div class="graph-bar bar-4"></div>

  </div>

  <h3>
    Y lo mas importante, un servicio expectacular.
  </h3>

</section>